body{
    background-image: url(images/janko-ferlic-sfL_QOnmy00-unsplash\ \(1\).jpg);
    

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
